 .root {
    -fx-background-color: #f5ff6e;
    -fx-text-fill: #ffffff ;
}

.button {
    -fx-background-color: #ff6483;
    -fx-border-radius: 5;
    -fx-border-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'IMPACT';
    -fx-font-size: 20;
    -fx-cursor: HAND;
}

#logButton {
    -fx-background-color: #ff6483;
    -fx-border-radius: 5;
    -fx-border-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'IMPACT';
    -fx-font-size: 16;
    -fx-cursor: HAND;
}

#nameTextField {
    -fx-background-color: #c3c3c3;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'IMPACT';
    -fx-font-size: 24;
}

 #singlePlayerGameButton {
     -fx-background-color: #ff6483;
     -fx-text-fill: #ffffff;
     -fx-border-width: 0;
     -fx-font-family: 'IMPACT';
     -fx-font-size: 30;
     -fx-cursor: HAND;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.5, 0.0, 0.0);
 }

 .table-view .column-header {
     -fx-background-color: #ff6483;
     -fx-border-color: #000000;
 }

 .table-view .column-header-background .label{
     -fx-text-fill: #ffffff;
 }

#playerVsAILeaderboardPane {
    -fx-background-color: #f5ff6e;
}

 #leaderboardSelectorPane {
     -fx-background-color: #c3c3c3;
 }